* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #23049D;
    height: 20vh;
    display: flex;
}

.page {
    display: flex;
    height: 60vh;
}

.article {
    background-color: white;
    width: 70vw;
    order: 1;
}

.aside {
    background-color: #AA2EE6;
    width: 15vw;
    order: 2;
}

.nav {
    background-color: #FF79CD;
    width: 15vw;
    order: 3;
}

.footer {
    display: flex;
    background-color: #23049D;
    height: 20vh
}