* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b6ffa9;
}

.title {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.subtitle {
    margin-top: 2vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.layouts {
    display: flex;
    justify-content: center;
    text-align: center;
}

.layout {
    margin: 2vh
}

.madeby {
    margin-top: 0.3vh;
    text-align: center;
}