* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b6ffa9;
}

.title {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.subtitle {
    margin-top: 2vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.properties {
    margin-top: 35vh;
    text-align: center;
}

.madeby {
    margin-top: 38.7vh;
    text-align: center;
}