* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    float: left;
    height: 100vh;
    width: 100vw;
}

.nav {
    float: left;
    width: 20vw;
    height: 100vh;
    background-color: #77ACF1;
}

.header {
    float: left;
    height: 20vh;
    width: 80vw;
    background-color: #04009A
}

.article {
    float: left;
    height: 60vh;
    width: 60vw;
    background-color: white;
}

.aside {
    float: left;
    height: 60vh;
    width: 20vw;
    background-color: #77ACF1;
}

.footer {
    float: left;
    width: 80vw;
    height: 20vh;
    background-color: #04009A;
}